{% extends 'VKstorage/base.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
{% csrf_token %}
<h1>Управление пабликами</h1>
<div class="col">
			<div class="card shadow  mt-4" id="cardchats">
				<div class="card-header bg-primary-subtle text-primary-emphasis ">
					Список пабликов
				</div>
				<div class="card-body" >
					<table class="table table-hover" id="chats_table">
					  <thead>
						<tr>
						  <th style="width: 40px;" scope="col">#</th>
						  <th scope="col">Паблики</th>
						  <th style="width: 100px;" class="text-center" scope="col">Удалить</th>
						</tr>
					  </thead>
					  <tbody id="chats_table_body">
					  </tbody>
					</table>
					<form class="input-group mb-2 mt-4" id="UrlForm">

					  <input type="text" class="form-control" placeholder="Ссылка на паблик" id="chat_url">
					  <button class="btn btn-outline-secondary rounded-end" type="submit" id="load_chats">Добавить</button>
						<div class="invalid-feedback" id="invalid-feedback-UrlForm">
						  Неизвестная ошибка.
						</div>
					</form>
				</div>
			</div>
		</div>


<script>
function load_table() {
// Получение тела таблицы
const tableBody = document.getElementById("chats_table_body");

tableBody.innerHTML = "";
// Запрос к API
fetch('/api/groups/')
  .then(response => response.json())
  .then(data => {
    // Создание строк таблицы
    data.forEach((item, index) => {
		const row = document.createElement('tr');
		row.innerHTML = `
			<td>${index + 1}</td>
			<td><a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="blank" href="https://vk.ru/${item.short_name}">${item.name}</a></td>
			<td class="text-center link-body-emphasis" style="cursor: pointer;" ondblclick="delete_url(${item.id})" title="Двойной клик для удаления паблика">
				<svg width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 18 18">
					<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5">
					</path>
				</svg>
			</td>
		`;

		tableBody.appendChild(row);

});
  })
  .catch(err => console.log('error: ' + err));
}

// Загружаем таблицу при загрузке скрипта
load_table()



const form = document.getElementById('UrlForm');
var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        form.addEventListener('submit', (event) => {
            event.preventDefault(); // Предотвращаем стандартное поведение формы

            const data = {
                  name: document.getElementById('chat_url').value,
            };
            fetch('/api/groups/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf_token
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                   return response.json().then(result => {throw new Error(result.name[0])})
                    }
                return response.json();
            })
            .then(data => {
                // Обрабатываем успешный ответ от сервера
                console.log('Данные успешно отправлены:', data);
                // Можем очистить форму или выполнить другие действия
                form.reset();
                setTimeout(() => { load_table() }, 1500);
			})
			.catch(error => {
                console.error(error);
                const value_error_message = document.getElementById('invalid-feedback-UrlForm');
                const value_error_input = document.getElementById('chat_url');
                value_error_input.className += " is-invalid"
                value_error_message.innerHTML = error
                setTimeout(() => { value_error_input.setAttribute("class", "form-control") }, 5000);
                // Обрабатываем ошибку, например, выводим сообщение пользователю
            });
		});

function delete_url(recordId) {

            fetch(`/api/groups/${recordId}/`, {method: 'DELETE', headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf_token
                }})
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка удаления записи');
                }
                return response.text(); // Или response.json(), если сервер возвращает данные
            })
            .then(data => {
                // Обрабатываем успешный ответ от сервера
                console.log('Запись успешно удалена:', data);
                // Можем очистить поле ввода или выполнить другие действия
                setTimeout(() => { load_table() }, 500);

            })
            .catch(error => {
                console.error('Ошибка:', error);
                // Обрабатываем ошибку, например, выводим сообщение пользователю
            });
        };

</script>

{% endblock %}