{% extends 'VKstorage/base.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
<h1>Отчет за сегодня</h1>

<div class="card border-light shadow p-3 bg-body rounded mt-3">

<div class="card-body px-0 py-0">
<div class="btn-group">
  <a href="#" class="btn btn-light" onclick="load()" data-button-name="Свободный">Свободный</a>
  <a href="#" class="btn btn-light" onclick="load()" data-button-name="На просчете">На просчете</a>
  <a href="#" class="btn btn-light" onclick="load()" data-button-name="Участвуем">Участвуем</a>
  <a href="#" class="btn btn-light" onclick="load()" data-button-name="Победа">Победа</a>
</div>
<hr>
<div class="table-responsive scrollbar">
    <table class="table table-sm fs-10 mb-0 overflow-hidden">
        <thead >
            <tr>
                <th style="min-width:250px;" class="bg-secondary-subtle">Паблик</th>
                <th style="min-width:130px;" class="bg-secondary-subtle">Видео</th>
                <th class="bg-secondary-subtle">Посты</th>
                <th class="bg-secondary-subtle">Репосты клипов</th>
                <th class="bg-secondary-subtle">Статьи</th>
                <th class="bg-secondary-subtle">Сторис</th>
            </tr>
        </thead>
        <tbody id="tableBody">
    </table>
</div>
</div>
</div>


<script>
 function load(day_from, day_to) {
            url = '/api/activityingroups/?from=' + day_from + '&to=' + day_to
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('tableBody');
                    tableBody.innerHTML = '';
                    data.forEach(item => {
                        const statuses = JSON.parse(localStorage.getItem('activeButtons')) || ["Свободный", "На просчете", "Участвуем", "Победа"];


                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${item.name}</td>
                                <td>${item.posts_count.video}</td>
                                <td>${item.posts_count.photo}</td>
                                <td>${item.posts_count.short_video}</td>
                                <td>${item.posts_count.link}</td>
                                <td>${item.stories_count}</td>
                            `;
                            tableBody.appendChild(row);

                    });
                });
        }
        // Загрузка данных при загрузке страницы
        load(1732506771, 1732648632);
</script>

{% endblock %}