{% extends 'VKstorage/base.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
<div class="d-flex justify-content-between">
    <h1 id="h1">Отчет</h1>
    <div class="d-flex justify-content-end mt-2">
        <div>
            <input type="date" id="date_from" style="max-width: 130px;" class="d-inline form-control">
            <input type="date" id="date_to" style="max-width: 130px;" class="d-inline form-control">
            <button class="btn btn-outline-secondary align-baseline" onclick="load_range()" data-button-name="Участвуем">Сформировать</button>
            <button class="btn btn-outline-secondary align-baseline" onclick="current_month()" data-button-name="На просчете">Текущий месяц</button>
            <button class="btn btn-outline-secondary align-baseline" onclick="load_today()" data-button-name="Свободный">Сегодня</button>
        </div>
    </div>
</div>

<div class="card shadow bg-body mt-3">
    <div class="card-header bg-primary-subtle text-primary-emphasis ">
	    Список пабликов
	</div>
    <div class="card-body" >
        <div class="table-responsive scrollbar">
            <table class="table table-hover" id="chats_table">
                <thead>
                    <tr>
                        <th style="width: 40px;">#</th>
                        <th >Паблик</th>
                        <th class="text-center">Видео</th>
                        <th class="text-center">Посты</th>
                        <th class="text-center">Репосты клипов</th>
                        <th class="text-center">Статьи</th>
                        <th class="text-center">Сторис</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
            </table>
        </div>
</div>
</div>



<script>
 function load(day_from, day_to) {
            url = '/api/activityingroups/?from=' + day_from + '&to=' + day_to
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('tableBody');
                    tableBody.innerHTML = '';
                    data.forEach((item, index) => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${index+1}</td>
                                <td>${item.name}</td>
                                <td class="text-center">${item.posts_count.video}</td>
                                <td class="text-center">${item.posts_count.photo}</td>
                                <td class="text-center">${item.posts_count.short_video}</td>
                                <td class="text-center">${item.posts_count.link}</td>
                                <td class="text-center">${item.stories_count}</td>
                            `;
                            tableBody.appendChild(row);

                    });
                });
        }



function load_today() {
  const title_h1 = document.getElementById('h1');
  title_h1.innerHTML = 'Отчет за сегодня';
  const now = new Date();
  const year = now.getFullYear();
  const month = now.getMonth();
  const day = now.getDate();
  const startOfDay = new Date(year, month, day, 0, 0, 1); // 00:00:01
  load(Math.floor(startOfDay.getTime() / 1000)+10800, Math.floor(Date.now() / 1000));
    // прописываем дату в поля
  const today = String(now.getDate()).padStart(2, '0');
  const formattedDate = `${year}-${month+1}-${today}`;
  document.getElementById('date_from').value = formattedDate;
  document.getElementById('date_to').value = formattedDate;

}

function current_month() {
  const title_h1 = document.getElementById('h1');
  title_h1.innerHTML = 'Отчет за месяц';
  const now = new Date();
  const year = now.getFullYear();
  const month = now.getMonth(); // Месяцы в JavaScript нумеруются с 0 (январь)
  const firstDay = new Date(year, month, 1);
  load(Math.floor(firstDay.getTime() / 1000)+10800, Math.floor(Date.now() / 1000));
      // прописываем дату в поля
  const today = String(now.getDate()).padStart(2, '0');
  const formattedDate_from = `${year}-${month+1}-01`;
  const formattedDate = `${year}-${month+1}-${today}`;
  document.getElementById('date_from').value = formattedDate_from;
  document.getElementById('date_to').value = formattedDate;
}

function dateToUnixTimestamp(dateString, h, m, s) {
  const dateParts = dateString.split('-');
  const year = parseInt(dateParts[0], 10);
  const month = parseInt(dateParts[1], 10) - 1; // Месяцы в JavaScript нумеруются с 0
  const day = parseInt(dateParts[2], 10);
  const date = new Date(year, month, day, h, m, s);
  return Math.floor(date.getTime() / 1000)
  }


function load_range() {
  const title_h1 = document.getElementById('h1');
  title_h1.innerHTML = 'Отчет за период';
  const formattedDate_from = document.getElementById('date_from').value;
  const formattedDate_to = document.getElementById('date_to').value;
  day_from = dateToUnixTimestamp(formattedDate_from, 0, 0, 1)+10800
  day_to = dateToUnixTimestamp(formattedDate_to, 23, 59, 59)+10800
  load(day_from, day_to)
}

load_today()

</script>

{% endblock %}