{% extends 'VKstorage/base.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
<h1>Закупки</h1>

<div class="card border-light shadow p-3 bg-body rounded mt-3">

<div class="card-body px-0 py-0">
<div class="btn-group">
  <a href="#" class="btn btn-light" onclick="load()" data-button-name="Свободный">Свободный</a>
  <a href="#" class="btn btn-light" onclick="load()" data-button-name="На просчете">На просчете</a>
  <a href="#" class="btn btn-light" onclick="load()" data-button-name="Участвуем">Участвуем</a>
  <a href="#" class="btn btn-light" onclick="load()" data-button-name="Победа">Победа</a>
</div>
<hr>
<div class="table-responsive scrollbar">
    <table class="table table-sm fs-10 mb-0 overflow-hidden">
        <thead >
            <tr>
                <th style="min-width:250px;" class="bg-secondary-subtle">Паблик</th>
                <th style="min-width:130px;" class="bg-secondary-subtle">Видео</th>
                <th class="bg-secondary-subtle">Посты</th>
                <th class="bg-secondary-subtle">Репосты клипов</th>
                <th class="bg-secondary-subtle">Сторис</th>
            </tr>
        </thead>
        <tbody id="tableBody">
    </table>
</div>
</div>
</div>


<script>
  // Функция для изменения класса кнопки
  function toggleButtonClass(button) {
    button.classList.toggle('active');
    // Обновление состояния в localstorage
    updateLocalStorage();
  }

  // Функция для обновления состояния кнопок в localstorage
  function updateLocalStorage() {
    let activeButtons = [];
    const buttons = document.querySelectorAll('.btn-group a');
    buttons.forEach(button => {
      if (button.classList.contains('active')) {
        activeButtons.push(button.dataset.buttonName);
      }
    });
    localStorage.setItem('activeButtons', JSON.stringify(activeButtons));
    localStorage.setItem('buttonStates', JSON.stringify(Array.from(buttons).map(button => button.classList.contains('active'))));
  }

  // Функция для загрузки состояния кнопок из localstorage
  function loadButtonStates() {
    const buttonStates = JSON.parse(localStorage.getItem('buttonStates'));
    if (buttonStates) {
      const buttons = document.querySelectorAll('.btn-group a');
      buttonStates.forEach((state, index) => {
        if (state) {
          buttons[index].classList.add('active');
        }
      });
    }
  }

  // Обработчик клика на кнопки
  const buttons = document.querySelectorAll('.btn-group a');
  buttons.forEach(button => {
    button.addEventListener('click', () => {
      toggleButtonClass(button);
    });
  });

  // Загрузка состояния кнопок при загрузке страницы
<!--  loadButtonStates();-->


 function load() {

            fetch('/api/activityingroups/?from=1732626771&to=1732648632')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('tableBody');
                    tableBody.innerHTML = '';
                    data.forEach(item => {
                        const statuses = JSON.parse(localStorage.getItem('activeButtons')) || ["Свободный", "На просчете", "Участвуем", "Победа"];

                        if (statuses.includes(item.status)) {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${item.doc_number}</td>
                                <td>${item.status}</td>
                                <td>${new Date(item.final_date).toLocaleDateString()}</td>
                                <td>${item.bot_user.user_surname + " " + item.bot_user.user_name}</td>
                                <td>${new Date(item.booking_date).toLocaleDateString()}</td>
                            `;
                            tableBody.appendChild(row);
                        }
                    });
                });
        }
        // Загрузка данных при загрузке страницы
<!--        load();-->
</script>

{% endblock %}