{% extends 'VKstorage/base.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
<div class="d-flex justify-content-between">
    <h1 id="h1">Отчет</h1>
    <div class="d-flex justify-content-end mt-2">
        <div>
            <input type="date" id="date_from" style="max-width: 130px;" class="d-inline form-control">
            <input type="date" id="date_to" style="max-width: 130px;" class="d-inline form-control">
            <button class="btn btn-outline-secondary align-baseline" onclick="load_range()">Сформировать</button>
            <button class="btn btn-outline-secondary align-baseline" onclick="last_month()">Прошлый месяц</button>
            <button class="btn btn-outline-secondary align-baseline" onclick="current_month()">Текущий месяц</button>
            <button class="btn btn-outline-secondary align-baseline" onclick="load_last_30_day()">30 дней</button>
        </div>
    </div>
</div>

<div class="card shadow bg-body mt-3">
    <div class="card-header bg-primary-subtle text-primary-emphasis ">
	    Детальная информация по паблику: {{group.name}}
	</div>
    <div class="card-body" >
        <div class="table-responsive scrollbar">
            <table class="table table-hover" id="chats_table">
                <thead>
                    <tr>
                        <th style="width: 40px;">#</th>
                        <th style="width: 250px;">Дата</th>
                        <th class="text-center">Видео</th>
                        <th class="text-center">Посты</th>
                        <th class="text-center">Репосты клипов</th>
                        <th class="text-center">Статьи</th>
                        <th class="text-center">Сторис</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
            </table>
        </div>
</div>
</div>



<script>
var group = "{{short_name}}"
 function load(day_from, day_to, group) {
            url = '/api/monthlyreport/?from=' + day_from + '&to=' + day_to + '&group=' + group
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('tableBody');
                    tableBody.innerHTML = '';
                    const days = data[0].monthly_report
                    let index = 1
                    for (const [key, value] of Object.entries(days)) {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${index}</td>
                            <td>${key}</a></td>
                            <td class="text-center">${value.video}</td>
                            <td class="text-center">${value.photo}</td>
                            <td class="text-center">${value.short_video}</td>
                            <td class="text-center">${value.link}</td>
                            <td class="text-center">${value.stories}</td>
                        `;
                        tableBody.appendChild(row);
                        index = index + 1;
                    }
                });
            }


function load_last_30_day() {

  const title_h1 = document.getElementById('h1');
  title_h1.innerHTML = '30 дней';
  const now = new Date();
  const year = now.getFullYear();
  const month = now.getMonth();
  const day = now.getDate();
  const startOfDay = new Date(year, month, day, 0, 0, 1); // 00:00:01
  load(Math.floor(startOfDay.getTime() / 1000)-2505600+3600, Math.floor(Date.now() / 1000), group);
    // прописываем дату в поля
  const today = String(now.getDate()).padStart(2, '0');
  const formattedDate = `${year}-${month+1}-${today}`;
  document.getElementById('date_from').value = formattedDate;
  document.getElementById('date_to').value = formattedDate;
}

function last_month() {
  const title_h1 = document.getElementById('h1');
  title_h1.innerHTML = 'Прошлый месяц';
  const now_day = new Date();
  const year = now_day.getFullYear();
  const month = now_day.getMonth()-1;
  let day = 30;
  if (month == 0 || month == 2 || month == 4 || month == 6 || month == 7 || month == 9 || month == 11) {
   day = 31;
     }
  if (month == 1) {
   day = 28
    }
  const startOfDay = new Date(year, month, 1, 0, 0, 1); // 00:00:01
  const endOfDay = new Date(year, month, day, 23, 59, 59); // 23:59:59
  load(Math.floor(startOfDay.getTime() / 1000)+3600, Math.floor(endOfDay.getTime() / 1000)+3600, group);
    // прописываем дату в поля
  const today = String(now_day.getDate()).padStart(2, '0');
  const formattedDateF = `${year}-${month+1}-01`;
  const formattedDateT = `${year}-${month+1}-${day}`;
  document.getElementById('date_from').value = formattedDateF;
  document.getElementById('date_to').value = formattedDateT;
}

function current_month() {
  const title_h1 = document.getElementById('h1');
  title_h1.innerHTML = 'Текущий месяц';
  const now = new Date();
  const year = now.getFullYear();
  const month = now.getMonth(); // Месяцы в JavaScript нумеруются с 0 (январь)
  const firstDay = new Date(year, month, 1);
  load(Math.floor(firstDay.getTime() / 1000)+3600, Math.floor(Date.now() / 1000), group);
      // прописываем дату в поля
  const today = String(now.getDate()).padStart(2, '0');
  const formattedDate_from = `${year}-${month+1}-01`;
  const formattedDate = `${year}-${month+1}-${today}`;
  document.getElementById('date_from').value = formattedDate_from;
  document.getElementById('date_to').value = formattedDate;
}

function dateToUnixTimestamp(dateString, h, m, s) {
  const dateParts = dateString.split('-');
  const year = parseInt(dateParts[0], 10);
  const month = parseInt(dateParts[1], 10) - 1; // Месяцы в JavaScript нумеруются с 0
  const day = parseInt(dateParts[2], 10);
  const date = new Date(year, month, day, h, m, s);
  return Math.floor(date.getTime() / 1000)
  }


function load_range() {
  const title_h1 = document.getElementById('h1');
  title_h1.innerHTML = 'Отчет за период';
  const formattedDate_from = document.getElementById('date_from').value;
  const formattedDate_to = document.getElementById('date_to').value;
  day_from = dateToUnixTimestamp(formattedDate_from, 0, 0, 1)+3600
  day_to = dateToUnixTimestamp(formattedDate_to, 23, 59, 59)+3600
  load(day_from, day_to, group)
}

load_last_30_day()

</script>

{% endblock %}